.img-link {
    width: 100%;
    filter: grayscale(80%);
    padding: 0 0;
    border-radius: 15px;
    
}

.img-link:hover {
    filter: grayscale(0%);
    
}

.img-link img {
    border-radius: 15px;

}